@{
    var CategoryName = ViewBag.categoryname;
}
<style>
    .container-iframe {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%; 
    }

    .responsive-iframe {
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 80%;
        height: 80%;
        border: none;
    }
</style>
    <br />
    <br />
    <br />
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="cart-main">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="page type-page status-publish hentry">
                                <div class="entry-content">
                                @if (CategoryName == "MotherBoard")
                                {
                                            <div class="woocommerce table-tabs" id="responsiveTabs" style=" line-height: 26px; ">
                                                <h4 style="color: #D10024">Definition of the motherboard:</h4>
                                                It is considered an electronic board also called the “Mother Board” where all the components of the computer are connected to it because it is considered its primary role to link the components of the computer with each other, whether these components are hardware or software, and it also connects all these components with each other and organizes their work It organizes the transfer of data among themselves, and it is the process of defining the operating system with the components of the computer, and also it determines the type of processor that should be used and the random memory (RAM) that can be installed in the computer, and therefore it is considered the controller of the speed at which the computer works according to the components The processor and others connected to it, and after all those things that the motherboard can do, it considers the command and the prohibition after you in giving commands to all the computer accessories.<br />
                                                <h4 style="color: #D10024">Motherboard Benefits and Functions:</h4>
                                                1- It allows the exchange of data between all parts of the computer, so you will find that any device you connect to the computer works in a way that is compatible with other devices.<br />
                                                2- It performs basic input and output operations to and from the hard disk or to any device connected to the computer.<br/>
                                                3- It determines the extent of the device's ability to be updated in order to increase its speed and capabilities in the future. You cannot upgrade one of the parts of your computer without knowing if that part is compatible with the motherboard or not.<br />
                                                4- It determines the type of peripheral devices that we can install. We cannot connect devices that are not compatible with the motherboard. They may work, but not with the traditional efficiency.<br />
                                                5- A computer equipped with a good motherboard is considered to be faster than the other computer with a bad motherboard, even if the other components such as random memory and the processor are the same, so it is considered the most important piece that you should choose when buying a computer.<br />
                                                <h4 style="color: #D10024">Motherboard components:</h4>
                                                1- Power connector: It is a socket or port with holes connected to a cable to connect the electrical current to the motherboard in order to start its work.<br />
                                                2- CPU Socket: It is a square made of plastic with slots or holes commensurate with the number of needles in the processor and different types of processors can be connected on the condition that the number of slots and the number of needles in the processor is proportional.<br />
                                                3- Memory slots: They are long-shaped slots whose function is to connect random memory (RAM) to the motherboard, and their shape varies according to the type of memory and is often located to the right of the processor socket in most motherboards.<br />
                                                4- BIOS chip: It is an abbreviation of Basic Input Output System, and one of its most important functions is to manage and operate the hardware parts of the computer, and it loads the operating system and also helps the operating system and its programs to operate the components of the computer.<br />
                                                5- Expansion slots EXPANSION SLOTS: They are slots or cracks located at the bottom of the motherboard, and their primary function is to connect the primary and secondary cards to the computer.<br />
                                                6- Chipsets: They are two chips, each called the north bridge chip and the south bridge chip, and its main functions are to connect the motherboard pieces to each other, whether internal or external.<br />


                                                <h5 style="color: #D10024">For more details watch this video:</h5>

                                                <div class="container-iframe">
                                                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/AzHoty_2r4k"></iframe>
                                            @*https://www.youtube.com/watch?v=AzHoty_2r4k&list=PLb0xpzjWY1REtfV_xOHqZYYNnysCsPdgd&index=2*@
                                                </div>
                                            </div>

                                }
                                else if (CategoryName == "Processor")
                                {
                                    <div class="woocommerce table-tabs" id="responsiveTabs" style=" line-height: 26px; ">
                                        <h4 style="color: #D10024">Definition of the processor:</h4>
                                        The CPU is an abbreviation of the word Central Processing Unit, or in Arabic the Central Processing Unit, and it is the basic component of what is known as a computer. Home appliances, especially those that deal with the Internet of Things, such as Smart TV.
                                        The central processing unit is a chip placed in a socket on the main circuit board (motherboard) inside the computer, the CPU is completely separate from random access memory or RAM where information is stored temporarily.
                                        It is also separate from the graphics card or graphics chip (GPU), whose job is to process and play all the video and 3D graphics (like in games) displayed on your screen.<br />
                                     
                                        <h4 style="color: #D10024">How is the CPU built:</h4>
                                       
                                        CPUs are built by placing billions of invisible transistors on a single computer chip, also called an integrated circuit.
                                        These transistors allow the calculations required to run programs stored in your system's memory—they are minute gates that are turned on or off.
                                        And stopping or running is determined based on two numbers, one and zero, that in the event that the sent value is one, this means on, but if the value is zero, this means off.
                                        One of the most common advances in CPU manufacturing technology is making those transistors smaller and smaller.<br />
                                        <h4 style="color: #D10024">CPU Function:</h4>
                                        
                                         Simply, the CPU receives instructions from a program or application and performs a arithmetic operation. This process is divided into three main stages:<br/>
                                         1- fetch <br/>
                                         2- Decoding <br/>
                                         3- Execution <br/>
                                         The CPU fetches instructions from RAM, decodes the instructions, and then executes those instructions using other parts of the CPU.
                                         Executing instructions can include simple arithmetic, or comparing certain numbers together. Since everything in a computer is represented by numbers, these simple tasks are equivalent to what the CPU does.<br/>
                                         <h4 style="color: #D10024">The criteria by which the processor is classified are as follows:</h4>
                                          1- CPU speed.<br />
                                          2-Configure the core in this processor.<br/>
                                          <p style="color: #D10024">For example</p>
                                           if we take Intel processors, the Intel Core i3 processor is not the same as the Intel Core i7 processor, and so on.<br/>
                                           3- for the manufacturer.<br />
                                            Certainly, manufacturers differ from each other in terms of design and the quality of electronic components approved in manufacturing.<br/>
                                           4-CPU cache.<br />
                                           It is a memory, like all memories, it stores information .
                                           <h5 style="color: #D10024">For more details watch this video:</h5>
                                                <div class="container-iframe">
                                                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/Xi-ZG1_U5tQ"></iframe>
                                                @*https://www.youtube.com/watch?v=Xi-ZG1_U5tQ&list=PLb0xpzjWY1REtfV_xOHqZYYNnysCsPdgd&index=1*@
                                                </div>
                                            </div>

                                }else if(CategoryName == "HDD"){
                                     <div class="woocommerce table-tabs" id="responsiveTabs" style=" line-height: 26px; ">
                                         <h4 style="color: #D10024">Definition of the Hard:</h4>
                                        Which is known as Hard Disk Drive, which is the traditional hard disks, and it is one of the most important components of the computer, as it is responsible for any data storage on the computer, and through which the operating system (Windows, for example) is installed, and when the computer boots, it calls the operating system from it to open its interface and then calls from it applications What files are stored in this application?
                                        And there are two types of SATA entrances, the newer one, which has a faster speed and greater capacity, and the old one is PATA, which is very old and is no longer available.
                                        This type of disc depends in principle on discs sensitive to the magnetic field. This disc is welcome on the axis of the motor and there is a needle with a mechanical movement that allows it to reach the entire disc. It can change the state of each point of the disc either 0 or 1 and thus can write and read
                                        There are several companies that manufacture this type of disc, the most famous of which is WD (Western Digital), which is considered the best in the world in the field of manufacturing HDD discs, and there is Seagate, a competitor to WD
                                          <h4 style="color: #D10024">Hard types:</h4>
                                          <span style="color: #D10024">black type:</span>It is almost the best to use in terms of speed and life span, but its disadvantages are the relatively small space, it has noise during work, its price is relatively high, and its energy consumption is very large.<br/>
                                          <span style="color: #D10024">blue type:</span>It is the best choice, as its speed is close to the speed of the black hard drive and not much less than it, which is less noisy, has an appropriate price and a long life span.<br/>
                                          <span style="color: #D10024">green color:</span>It is considered bad, as it does not bear a large number of continuous working hours, its life span is relatively small, and its speed is slow, but its price is very cheap, and it does not consume a lot of energy, but is considered to be energy-saving, and is used in most cases to save a backup copy only.<br/>
                                          <span style="color: #D10024">Red color:</span>It is the type for servers and can be used for a personal computer and is characterized by a long life span and very large capacities. It also supports the work of 8 disks together, but its disadvantages are low speed, large energy consumption, high noise, and it spreads to great heat and needs a cooling system with it..<br/>
                                           Each company has its own way of presenting its own type of hard drive, but when compared to choosing the right hard, six criteria must be taken into account: <br/>
                                           1- Manufacturer.<br/>
                                           2- The type of hard disk used or the category of use.<br/>
                                           3- RPM speed, preferably 7200 or higher.<br/>
                                           4- Transfer speed.<br/>
                                           5- Capacity, preferably above 1 TB.<br/>
                                           The most disadvantage of this type of disc and the reason for the modern world’s tendency to reduce its use is that it contains mechanical movement and this leads to a high consumption of energy to feed the engines, as it has noise due to friction and rotation
                                           And do not forget that it is a quick failure, as the power outage, for example, or moving the laptop and the disk leads to the vibration of the magnetic needle, which leads to scratches on the disk called the Bad Sector, which causes irritation and damage to files in the computer.
                                          <h5 style="color: #D10024">For more details watch this video:</h5>
                                                <div class="container-iframe">
                                                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/Z2JEVdsTBmQ"></iframe>
                                                </div>
                                    </div>
                                }else if(CategoryName == "RAM")
                                {
                                    <div class="woocommerce table-tabs" id="responsiveTabs" style=" line-height: 26px; ">
                                        <h4 style="color: #D10024">Definition of the Ram:</h4>
                                        Random Access Memory, while known by the prevailing abbreviation Ram, which is three letters abbreviated to its English designation Random Access Memory, is the most important internal physical component in a computer and constitutes the role of the main memory in it, and is characterized as the most efficient and effective in reading and writing than various other types of storage. RAM plays a very important role in saving time and facilitating access to data, applications, and work on a computer-based operating system.
                                        Despite the great importance of RAM, it is described as relatively volatile, or more precisely, temporary; This is due to the loss of information immediately in the event of a power outage on the computer, so it becomes impossible to return the data that was not saved in the RAM memory.
                                     <h4 style="color: #D10024">The importance of RAM:</h4>
                                    1- Shortening the time in processing data, as it contributes to doing this very quickly whenever its capacity is greater.<br/>
                                    2- Loading data and information immediately instead of going back to extracting data from the hard disk.<br/>
                                    3- It plays the role of the thinking mind in the computer, due to the performance of the tasks entrusted to it during the completion of work by the user.<br/>
                                    4- Support for the hibernation feature, and this feature helps in the ability to easily retrieve the existing data before the device stops working, in order to ensure that what the user has done is not lost.   <br/>                                
                                   <h4 style="color: #D10024">Ram types:</h4>
                                    1- Static Random Access Memory, abbreviated as SRAM, this type is characterized by high speed, high price and excellent performance.<br/>
                                    2- Dynamic Random Access Memory, abbreviated as DRAM, is less efficient than the previous type, but it also performs very well as it has a large capacity and is less expensive than SRAM.<br/>
                                    3- Synchronous Dynamic RAM, abbreviated as SD RAM. This type of RAM is commonly used in computers and video game devices. Dynamic memory is characterized by a quick and immediate response to data entry as synchronous memory.<br/>
                                    4- Single Data Rate Synchronous Dynamic RAM, abbreviated as SDR SDRAM.<br/>
                                    5- Dual Data Rate Synchronous Dynamic Random Access, abbreviated as DDR RAM.<br/>
                                    6- Double Data Rate-Synchronous DRAM (DDR SDRAM).<br/>
                                    7- Graphics Double Data Rate Synchronous Dynamic RAM (GDDR SDRAM), its history in the market dates back to 2003, and it is still widely used until today.<br/>
                                    <h4 style="color: #D10024">Most popular ram speeds:</h4>
                                    1600 MHZ/s
                                    <span>1866 MHZ/s</span><br/>
                                    <span>2133 MHZ/s</span><br/>
                                    <span>2400  MHZ/s</span><br/>
                                    <h5 style="color: #D10024">For more details watch this video:</h5>
                                      <div class="container-iframe">
                                         <iframe class="responsive-iframe" src="https://www.youtube.com/embed/5pY-Pe7UDEc"></iframe>
                                      </div>
                                    </div>
                                }else if (CategoryName=="VG")
                                {
                                    <div class="woocommerce table-tabs" id="responsiveTabs" style=" line-height: 26px; ">
                                        <h4 style="color: #D10024">Definition of the GraphicsCard:</h4>
                                        A graphics card is simply an electronic component or component with a complex design, just like a computer processor or processor. In general, the graphics card or the graphics card is used for everything related to displaying data on the computer screen.
                                        It should be noted that the more modern the graphics card and with good specifications, the higher the resolution of the video and graphics in general, the higher the quality.
                                        <h4 style="color: #D10024">The most important factors that distinguish one card from the other:</h4>
                                          <h5 style="color: #D10024">1- Size and type of Memory:</h5>
                                           This factor is what deceives most users. Memory is just a factor. It is measured in megabytes and can be 512 megabytes or 1024 megabytes (1 gigabyte). And note here when you buy
                                           And if you go to buy a card, the seller will tell you that he has a 512 and 1 GB card and starts showing 4 GB, but in fact, the memory factor is no longer that important, and this does not mean that you have a small memory size!.
                                           <h5 style="color: #D10024">2- clock speed:</h5>
                                            It is one of the most important elements, if not the most important already. The timing speed indicates the speed of data transfer in the graphics card, or in other words the time that the card takes to process any graphics in the game. I think it is now clear that the higher the timing speed, the higher the speed. It is measured in megahertz.
                                            <h5 style="color: #D10024">3- Max screen resolution:</h5>
                                             This factor is the highest screen resolution that the screen card can reach, and certainly the owners of large screens should take care of this factor so that the highest resolution of the graphics card is Full HD or HD, and thus they watch movies on the big screen with high accuracy, clarity and distinctive quality.
                                            <h5 style="color: #D10024">4- DirectX:</h5>
                                              Of course, it is important for playing games, and your graphics card must support the latest DirectX drivers in order for your games to work perfectly. It is a set of drivers for multitasking so that the games run better.
                                          <h5 style="color: #D10024">5- Shaders:</h5>
                                            Definitely one of the important factors and important features in any graphics card for gamers. Modern games have become highly dependent on this feature and are divided into two parts, the Pixel Shaders and the Vertex Shaders.
                                          <h5 style="color: #D10024">6- Bandwidth:</h5> 
                                          It indicates the transfer speed of the memory. In simple terms, it means the amount of information that the processor can process during one second. And the more words the better.
                                         <h4 style="color: #D10024">What is the better choice NVIDIA or AMD?</h4>  
                                         This is no longer the case because the two companies are constantly evolving. And they add new technologies. Therefore, the two types are distinct. But to make things clearer, NVIDIA is certainly very special, but it also depends on the price. If you are someone who wants to buy the best graphics card with modern technologies, and you can pay, then go to Nvidia, but if you want a special graphics card, but at lower prices, then ATI is excellent, meaning that the two companies do not differ when comparing normal cards, but the conflict is in relation to high-performance cards, or in other words, superstars. Therefore, I advise you to forget about the two companies and look for what factors we mentioned above and compare them with the price and choose the best in terms of price compared to the possibilities.
                                         <h5 style="color: #D10024">For more details watch this video:</h5>
                                      <div class="container-iframe">
                                         <iframe class="responsive-iframe" src="https://www.youtube.com/embed/_QEMAkIg1lo"></iframe>
                                      </div>
                                    </div>
                                }else if (CategoryName == "SSD")
                                {
                                    <div class="woocommerce table-tabs" id="responsiveTabs" style=" line-height: 26px; ">
                                        <h4 style="color: #D10024">Definition of the SSD:</h4> 
                                        Have you heard about USB Flash Memory? Try to imagine what it looks like from the inside! As its design is very similar to an SSD drive, in short, and in terms of shape, the SSD is a large copy of the flash memory. As in the case of Flash Memory, there are no moving parts inside the SSD and those moving parts have been replaced with fixed electronic chips that are used to store data on it.
                                        On the contrary, the HDD uses a mechanical arm with a Read/Write Head to move and read information and data from one location to another on the surface of the disk. This is the basic difference between an SSD and a HDD. Which, of course, makes SSD much faster than HDD (Hard Disk Drive).
                                        Thus, a regular SSD uses storage technology based on NAND Flash Memory, which is a flash memory based on the NAND digital system. This type of memory is called (non-volatile memory).
                                        And here by non-volatile we mean that you can turn off the disk by unplugging it without losing its contents of information or what was stored on it. This is, of course, an essential feature of any type of permanent memory
                                          <h4 style="color: #D10024">Features SSD:</h4>
                                          1- Longer life span and more endurance.<br/>
                                          2- Using a lower electric current than the HDD.<br/>
                                          3- The system boot speed, because there are no moving parts in the disk.<br/>
                                          4- There is no sound in the hard drive due to the absence of moving parts.<br/>
                                          5- Speed in random access.<br/>
                                          <h4 style="color: #D10024">Disadvantages SSD:</h4>
                                          1- Its high price.<br/>
                                          2- Not available in a wide range of capacities.<br/>
                                          <table class="table table-striped table-bordered">
                                              <tr>
                                                  <th>Electricity consumption</th>
                                                  <td>Less electrical energy consumption (2-3 watts), saving another 30 working minutes for laptop batteries.</td>
                                                  <td>It consumes more electrical energy (6-7 watts), which requires faster discharge of the laptop battery, and therefore fewer working hours.</td>
                                              </tr>
                                              <tr>
                                                  <th>price</th>
                                                  <td>The cost per gigabyte is approximately $0.30 (relatively expensive).</td>
                                                  <td>The cost per gigabyte is approximately $0.05 (very cheap).</td>
                                              </tr>
                                              <tr>
                                                  <th>Capacity</th>
                                                  <td>Usually it is not available in high capacities, it is usually 1-4 terabytes.</td>
                                                  <td>Ranging from 160 GB up to a maximum capacity of 10 TB.</td>
                                              </tr>
                                              <tr>
                                                  <th>Operating system boot time</th>
                                                  <td>10 to 13 seconds to enter the operating system</td>
                                                  <td>30 to 40 seconds to enter the operating system.</td>
                                              </tr>
                                              <tr>
                                                  <th>Disturb (make sounds)</th>
                                                  <td>There are no moving mechanical parts inside, so there is no sound.</td>
                                                  <td>It makes different sounds based on the movement of the arm, the search mechanism, and the rotation of the motor inside it.</td>
                                              </tr>
                                              <tr>
                                                  <th>vibration</th>
                                                  <td>There are no moving mechanical parts inside, so there is no sound.</td>
                                                  <td>It makes different sounds based on the movement of the arm, the search mechanism, and the rotation of the motor inside it.</td>
                                              </tr>
                                              <tr>
                                                  <th>heat generated by it</th>
                                                  <td>There are no moving parts inside it, so the heat production by it is very little.</td>
                                                  <td>HDD does not produce much heat, but compared to SSD, the heat output is higher in HDD because of the movement of its internal parts.</td>
                                              </tr>
                                              <tr>
                                                  <th>The life span</th>
                                                  <td>The default time and damage may occur after approximately 2 million operating hours.</td>
                                                  <td>Life and wear may occur after approximately 1.5 million operating hours.</td>
                                              </tr>
                                              <tr>
                                                  <th>Copy speed</th>
                                                  <td>SSD burn speed exceeds 200MB per second.</td>
                                                  <td>HDD copy speed ranges between 50-120MB per second.</td>
                                              </tr>
                                              <tr>
                                                  <th>Information encryption</th>
                                                  <td>Full Disk Encryption (FDE) is fully supported.</td>
                                                  <td>Full Disk Encryption (FDE) is fully supported.</td>
                                              </tr>
                                               <tr>
                                                  <th>File opening speed</th>
                                                  <td>30% faster than HDD</td>
                                                  <td>30% less than SSD</td>
                                              </tr>
                                              <tr>
                                                  <th>The influence of the magnetic field</th>
                                                  <td>Very safe, absolutely not affected by magnetic field</td>
                                                  <td>Stored data may be erased and deleted when exposed to a magnetic field</td>
                                              </tr>
                                          </table>
                                           <h5 style="color: #D10024">For more details watch this video:</h5>
                                           <div class="container-iframe">
                                         <iframe class="responsive-iframe" src="https://www.youtube.com/embed/BN_I-i4FWhg"></iframe>
                                      </div>


                                    </div>
                                }else if(CategoryName == "PS")
                                {
                                    <div class="woocommerce table-tabs" id="responsiveTabs" style=" line-height: 26px; ">
                                         <h4 style="color: #D10024">Definition of the PowerSuply:</h4>
                                         A power supply is a component that supplies power through at least one electric current. Typically, a Power Supply converts one type of electrical energy into another, but it may also convert a different form of energy—such as solar, mechanical or chemical—into electrical energy. The term power supply usually relates to devices that are built in to configure and operate, for example a computer power supply converts alternating current to direct current, and is generally located at the back of a computer case, along with at least one fan.
                                         <h4 style="color: #D10024">Technical explanation of the work of Power Supply:</h4>
                                         Most computer power supplies also have an on-off switch which can be set to 110V / 115V or 220V / 240V, depending on the geographical location of the device. The placement of the electrical transformer is critical, due to the different voltages supplied by power outlets in different countries.
                                         Most computers now use a switched-mode power supply, which changes alternating current to direct current voltage. This current can be switched on and off electronically and can also be switched by the power supply device, i.e. it shuts itself off before damage occurs when a fault is detected.. 
                                          <h4 style="color: #D10024">Power supply parts and components:</h4>
                                          1- A rectifier that converts alternating current into direct current.<br/>
                                          2- A filter that smooths the (direct current) coming from the rectifier.<br/>
                                          3- A transformer that controls the incoming current by raising it up or down.<br/>
                                          4- A voltage regulator controls DC output, allowing the correct amount of power, volts or watts, to be supplied to computers.<br/>
                                         <h4 style="color: #D10024">Different types of power supply:</h4>
                                         <h5 style="color: #D10024">1 -SMPS-Switched Mode Power Supply </h5>
                                          This type includes a switching regulator to convert electrical energy in a powerful way, similar to other types of power supply, transfers the power supply from a DC source to AC loads and back, such as a personal computer (laptop), while changing the characteristics of the current Please refer to the device catalog and learn all about it The device is in switch mode.
                                          <h5 style="color: #D10024">2 -AC Power Supply  </h5>
                                          The power supply gains power from alternating current and from the mains supply and the voltage can be increased or decreased with the required current transformer and some changes may be made. Different types of AC power supplies are designed to deliver a stable current, and the operating voltage or current may vary based on electrical impedance and in some cases, since the power supply is direct and a step-up transformer and inverter can be used to convert it into power, some types of AC power mods are not used converter.
                                           <h5 style="color: #D10024">3 -Regulated Power Supply RPS   </h5>
                                           (Regulated Power Supply) A stationary circuit used to change non-uniform alternating current into stable direct current. It is used to change an alternating current source into a direct current, and its main function is to give a constant current to an electrical device or circuit, and it must work in a certain form of power source. RPS (or) unidirectional output may vary, but it is always (direct current)
                                       <h5 style="color: #D10024">For more details watch this video:</h5>
                                           <div class="container-iframe">
                                         <iframe class="responsive-iframe" src="https://www.youtube.com/embed/MSR_QL8tCTE"></iframe>
                                      </div>
                                    </div>
                                }else
                                {
                                    <div class="woocommerce table-tabs" id="responsiveTabs" style=" line-height: 26px; ">
                                        <h4 style="color: #D10024">Definition of the Case:</h4>
                                        The computer case or what is known in English as (computer case), which is a solid box made of iron or aluminum, and has specific standard dimensions in all brands and countries in order to suit its size with its contents and the parts to be installed in it.
                                        It can be said that the computer case is not the important part in it, it is just a box that contains several things which are its components and its function is to protect these things from dust, dirt and water.
                                        There are types of computer case around the world, which vary according to their sizes and usage, including the horizontal computer box, the vertical computer box, the most famous of them, and the server box.
                                      <h4 style="color: #D10024">What are the components of a computer Case:</h4>
                                      The computer box contains many important devices, numbering eleven, and each component has an important function that it performs, all of which operate the computer properly. The components of the computer are as follows:
                                  
                                        •	(motherboard) <br/>
                                        •	(CPU) <br/>
                                        •	(HDD ,SSD) <br/>
                                        •	(Network Card) <br/>
                                        •	(PSU) <br/>
                                        •	(RAM) <br/>
                                        •	(Audio Card)<br/>
                                        •	(Graphics Card)<br/>
                                         <h4 style="color: #D10024">Computer case types:</h4>
                                         The types of computer box differ from one brand to another, but whether the computer box differs, it is a large box in the form of a cube, and a computer box is also available in a smaller form, as we mentioned earlier, there are horizontal or vertical types, and the material of the computer box may also differ, it is possible that Be of iron, aluminum or reinforced plastic.
                                         Regardless of these external differences, which may not make a difference in the efficiency of the computer case, there are some devices that contain internal differences, such as the difference in inputs and exits, according to the capacity of the device, and this difference is due to the old and modernity of the devices and one of the most famous brands in The computer box world is a brand (Cooler Master), a brand (Asus), and a brand (Corsair).
                                         <h4 style="color: #D10024">Types of sizes in the box:</h4>
                                         1-	Full Tower <br/>
                                         2-	Mid Tower <br/>
                                         3-	Mini Tower <br/>
                                          <h5 style="color: #D10024">For more details watch this video:</h5>
                                           <div class="container-iframe">
                                         <iframe class="responsive-iframe" src="https://www.youtube.com/embed/RPBW685fYE0"></iframe>
                                      </div>
                                  </div>
                                }
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <br />
    <br />



