@{
    ViewData["Title"] = "Brand";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!--Modal for create-->
<input hidden id="IDupdateThisBrand" />
<div class="modal fade" id="myModalCreate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="border:none;">
                <div style="border-bottom: 1px solid #dedcdc; padding-bottom: 2%;">
                    <span>
                        Create New Brand
                    </span>
                    <button type="button" class="close closecreate" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="margin-top: 20px;">
                    <div class="form-group" style=" padding-top: 20px;">
                        <label class="control-label">Brand Name</label>
                        <input id="brandname" autocomplete="off" class="form-control" />
                        <span id="validbrandname" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                        <span id="validbrandname2" style="display: none; font-size: 13px; color: #D10024">No numbers , only letters</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="createbtn" class="btn btn-success" style="margin:auto">Create</button>
            </div>
        </div>

    </div>
</div>

<!--Modal for update-->
<div class="modal fade" id="myModalUpdate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="border:none;">
                <div style="border-bottom: 1px solid #dedcdc; padding-bottom: 2%;">
                    <span id="updateheader">

                    </span>
                    <button type="button" class="close closeupdate" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="margin-top: 20px;">
                    <div class="form-group" style=" padding-top: 20px;">
                        <label class="control-label">Brand Name</label>
                        <input id="brandnameupdate" placeholder="Intel" class="form-control" />
                        <span id="validbrandnameupdate" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                        <span id="validbrandnameupdate2" style="display: none; font-size: 13px; color: #D10024">No numbers , only letters</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="updatebtn" class="btn btn-success" style="margin:auto">Update</button>
            </div>
        </div>

    </div>
</div>

<div class="content" style="background: #f1f2f7;">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Admin/Index">Dashboard</a></li>
                                <li class="active">Brands </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Brands Table</strong>
                            <a data-toggle="modal" data-target="#myModalCreate" class="btn btn-outline-info">+</a>
                        </div>
                        <div class="card-body">
                            <table id="tblbrand" class="table table-striped table-bordered">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
</div>
<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        var UpdateAddMsg = getItemStorage('UpdateOrAddBrand');

        if (UpdateAddMsg == "Add") {
            toastr.success('New Brand is added successfully.', '', { timeOut: 7000 });
            removeStorage('UpdateOrAddBrand');
        }
        else if (UpdateAddMsg == "Update") {
            toastr.success('Update done successfully.', '', { timeOut: 7000 });
            removeStorage('UpdateOrAddBrand');
        }

        $.ajax({
            type: "POST",
            url: "/Admin/Admin/BrandData",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });

        $('.btn-outline-info').click(function () {
            $('#createbtn').removeAttr("data-dismiss");
            $('#brandname').val('');
            $('#validbrandname').hide();
            $('#validbrandname2').hide();
        });

        $('#createbtn').click(function () {
            $('#validbrandname').hide();
            $('#validbrandname2').hide();
            var brandName = $('#brandname').val();

            if (brandName == null || brandName == undefined || $.trim(brandName) == "") {
                $('#validbrandname').show();
            }
            else if (jQuery.isNumeric(brandName) == true) {
                $('#validbrandname2').show();
            }
            else {
                $.ajax({
                    url: "/Admin/Admin/CreateBrand?newbrand=" + brandName,
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result == "Add") {
                            setItemStorage("UpdateOrAddBrand", "Add");
                            location.reload();
                        }
                    }
                });
            }

        });

        $('#update').click(function () {
            $('#validbrandnameupdate').hide();
            $('#validbrandnameupdate2').hide();
            $('#brandnameupdate').val('');
            $("#IDupdateThisBrand").val('');
        });

        $('#updatebtn').click(function () {
            $('#validbrandnameupdate').hide();
            $('#validbrandnameupdate2').hide();
            var brandName = $('#brandnameupdate').val();
            var brandId = $("#IDupdateThisBrand").val();

            if (brandName == null || brandName == undefined || $.trim(brandName) == "") {
                $('#validbrandnameupdate').show();
            }
            else if (jQuery.isNumeric(brandName) == true) {
                $('#validbrandnameupdate2').show();
            }
            else {
                $.ajax({
                    url: "/Admin/Admin/UpdateBrand?BrandId=" + brandId + "&BrandName=" + brandName,
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result == "Update") {
                            setItemStorage("UpdateOrAddBrand", "Update");
                            window.location = "/Admin/Admin/Brand";
                        }
                    }
                });
            }

        });


    });

    function OnSuccess(response) {
        $("#tblbrand").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: response,
                columns: [{ title: 'Id', 'data': 'brandId', className: 'vertical' },
                { title: 'Name', 'data': 'brandName', className: 'vertical' },
                {
                    orderable: false, data: null, defaultContent: '', className: 'options vertical',
                    "render": function (data, type, full, meta) {
                        return '<a id="update" data-toggle="modal" data-target="#myModalUpdate" style="cursor: pointer;" onclick="Edit({id:' + full.brandId + ",name:'" + full.brandName + "'})" + '" ><i style="color:darkblue; font-size:large;" class="fa fa-solid fa-pen-to-square"></i></a>';
                    }
                }]

            });

    };
    function Edit(brand) {
        $("#IDupdateThisBrand").val(brand.id);
        $("#brandnameupdate").val(brand.name);
        $("#updateheader").text("Update ("+brand.name+")");
        
    }

</script>
