
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<head>
    <title>Login</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/ElaAdmin-master/ElaAdmin-master/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/ElaAdmin-master/ElaAdmin-master/assets/css/style.css">
    <link type="image/x-icon" href="~/img/2022-07-01_5_26_11_PM-removebg-preview.png" rel="icon" />


</head>

<body class="bg-dark" style="background-color: #e8f0fe; ">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="~/img/photo_2022-07-01_17-11-24-removebg-preview.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="tel" id="phone" autocomplete="off" class="form-control" placeholder="Phone">
                            <span id="validphone1" style="display: none; font-size: 13px; color: #D10024">Please enter your Phone</span>
                            <span id="validphone2" style="display: none; font-size: 13px; color: #D10024">This phone isn't Exist !!</span>
                            <span id="validphone3" style="display: none; font-size: 13px; color: #D10024">You must write only numbers</span>
                            <span id="validphone4" style="display: none; font-size: 13px; color: #D10024">Phone must be 11 numbers</span>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="password" autocomplete="off" class="form-control" placeholder="Password">
                            <span id="validpassword1" style="display: none; font-size: 13px; color: #D10024">Please enter your Password</span>
                            <span id="validpassword2" style="display: none; font-size: 13px; color: #D10024">Password is Wrong , Try again..</span>
                        </div>
                        <br />
                        <button id="signin" type="button" class="btn btn-success">Sign in</button>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#phone').keyup(function () {
                $('#validphone1').hide();
                $('#validphone2').hide();
                $('#validphone3').hide();
                $('#validphone4').hide();
                $('#signin').removeClass('btn btn-success disabled').addClass('btn btn-success').css('background-color', '');
                var telephone = $('#phone').val();
                if (jQuery.isNumeric(telephone) != true && telephone != "") {
                    $('#validphone3').show();
                    $('#signin').css('background-color', 'grey').addClass('disabled');
                }
                else if (telephone.length > 11) {
                    $('#validphone4').show();
                    $('#signin').css('background-color', 'grey').addClass('disabled');
                }
            });
            $('#password').keyup(function () {
                $('#validpassword1').hide();
                $('#validpassword2').hide();
                $('#signin').removeClass('btn btn-success disabled').addClass('btn btn-success').css('background-color', '');
            });

            $('#signin').click(function () {
                var phone = $('#phone').val();
                var password = $('#password').val();
                if (phone == "" || phone == undefined || phone.length != 11 || password == "" || password == undefined)
                {
                    if (phone == "" || phone == undefined) {
                        $('#validphone1').show();
                    }
                    else if (phone.length != 11) {
                        $('#validphone4').show();
                    }
                    if (password == "" || password == undefined) {
                        $('#validpassword1').show();
                    }
                }
                else{
                    $.ajax({
                        url: "/Admin/Admin/EnterAccount?Telephone=" + phone +
                            "&Password=" + password,
                        type: "GET",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result == "this phone isn't exist") {
                                $('#validphone2').show();
                            }
                            else if (result == "wrong password") {
                                $('#validpassword2').show();
                            }
                            else if (result == "return to index") {
                                window.location= "/Admin/Admin/Index" ;
                            }
                        }
                    });
                }

            });
        });

    </script>
</body>